In [1]:
import pandas as pd
import MetaTrader5 as mt5
import plotly.express as px
from datetime import datetime, timedelta, time

In [2]:
mt5.initialize()

True

In [3]:
start = datetime(2023, 8, 1)
end = datetime(2023, 9, 28)

symbol = "BTCUSD"

ticks = mt5.copy_ticks_range(symbol, start, end, mt5.COPY_TICKS_ALL)
ticks = pd.DataFrame(ticks)

ticks['time'] = pd.to_datetime(ticks['time_msc'], unit='ms')
ticks = ticks[['time', 'bid', 'ask']]


ticks['sell_arb'] = ticks['bid'].shift(1) - ticks['ask']
ticks['buy_arb'] = ticks['bid'] - ticks['ask'].shift(1)
ticks['time_diff'] = ticks['time'] - ticks['time'].shift(1)
ticks['day'] = ticks['time'].dt.dayofweek
ticks['time2'] = ticks['time'].apply(lambda x: x.time())


ticks

,time,bid,ask,sell_arb,buy_arb,time_diff,day,time2
0,2023-07-31 22:00:00.123,29175.62,29185.79,NaN,NaN,NaT,0,22:00:00.123000
1,2023-07-31 22:00:01.048,29175.62,29185.82,-10.20,-10.17,0 days 00:00:00.925000,0,22:00:01.048000
2,2023-07-31 22:00:01.632,29175.62,29185.86,-10.24,-10.20,0 days 00:00:00.584000,0,22:00:01.632000
3,2023-07-31 22:00:01.975,29175.66,29185.94,-10.32,-10.20,0 days 00:00:00.343000,0,22:00:01.975000
4,2023-07-31 22:00:02.185,29175.08,29185.66,-10.00,-10.86,0 days 00:00:00.210000,0,22:00:02.185000
...,...,...,...,...,...,...,...,...
10001708,2023-09-27 21:59:57.260,26218.45,26228.08,-8.43,-9.63,0 days 00:00:00.265000,2,21:59:57.260000
10001709,2023-09-27 21:59:57.489,26218.71,26226.93,-8.48,-9.37,0 days 00:00:00.229000,2,21:59:57.489000
10001710,2023-09-27 21:59:58.625,26219.45,26227.87,-9.16,-7.48,0 days 00:00:01.136000,2,21:59:58.625000
10001711,2023-09-27 21:59:58.825,26218.72,26227.93,-8.48,-9.15,0 days 00:00:00.200000,2,21:59:58.825000
10001712,2023-09-27 21:59:59.037,26219.70,26227.93,-9.21,-8.23,0 days 00:00:00.212000,2,21:59:59.037000

In [4]:
cond1 = ticks['time'].dt.time > time(21, 30, 0)
cond2 = ticks['time_diff'] < timedelta(minutes=5)
ticks2 = ticks[cond1 & cond2]

ticks2

,time,bid,ask,sell_arb,buy_arb,time_diff,day,time2
1,2023-07-31 22:00:01.048,29175.62,29185.82,-10.20,-10.17,0 days 00:00:00.925000,0,22:00:01.048000
2,2023-07-31 22:00:01.632,29175.62,29185.86,-10.24,-10.20,0 days 00:00:00.584000,0,22:00:01.632000
3,2023-07-31 22:00:01.975,29175.66,29185.94,-10.32,-10.20,0 days 00:00:00.343000,0,22:00:01.975000
4,2023-07-31 22:00:02.185,29175.08,29185.66,-10.00,-10.86,0 days 00:00:00.210000,0,22:00:02.185000
5,2023-07-31 22:00:02.476,29176.40,29187.19,-12.11,-9.26,0 days 00:00:00.291000,0,22:00:02.476000
...,...,...,...,...,...,...,...,...
10001708,2023-09-27 21:59:57.260,26218.45,26228.08,-8.43,-9.63,0 days 00:00:00.265000,2,21:59:57.260000
10001709,2023-09-27 21:59:57.489,26218.71,26226.93,-8.48,-9.37,0 days 00:00:00.229000,2,21:59:57.489000
10001710,2023-09-27 21:59:58.625,26219.45,26227.87,-9.16,-7.48,0 days 00:00:01.136000,2,21:59:58.625000
10001711,2023-09-27 21:59:58.825,26218.72,26227.93,-8.48,-9.15,0 days 00:00:00.200000,2,21:59:58.825000
10001712,2023-09-27 21:59:59.037,26219.70,26227.93,-9.21,-8.23,0 days 00:00:00.212000,2,21:59:59.037000